@model ACStalkMarket.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Cambiar la configuración de la cuenta</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.GenderId)
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GenderId, new SelectList(Model.Genders, "Id", "GenderName"), "Género", new { @class = "form-control" })

            </div>
        </div>
        
        <dl class="dl-horizontal">
            <dt>Contraseña</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                ]
            </dd>
            <!--
            <dt>Inicios de sesión externos:</dt>
            <dd>
                @*
                @Model.Logins.Count [
                @Html.ActionLink("Administrar", "ManageLogins") ]
                *@
            </dd>
            -->
            @*
                Los números de teléfono se pueden usar como un segundo factor de comprobación en un sistema de autenticación en dos fases.
             
                 Consulte <a href="http://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                    para obtener más información acerca de la configuración de esta aplicación ASP.NET para admitir la autenticación en dos fases con SMS.
             
                 Quite la marca de comentario del siguiente bloque una vez haya configurado la autenticación en dos fases
            *@
            @*  
                <dt>Número de teléfono:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
            <!--
            <dt>Autenticación de dos factores:</dt>
            <dd>
                <p>
                    No hay ningún proveedor de autenticación en dos fases configurado. Consulte <a href="http://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                    para obtener más información acerca de la configuración de esta aplicación ASP.NET para admitir la autenticación en dos fases.
                </p>
            -->
                @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Habilitado
                            <input type="submit" value="Deshabilitar" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Deshabilitado
                            <input type="submit" value="Habilitar" class="btn btn-link" />
                            </text>
                        }
                    }*@
            <!--
            </dd>
            -->
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Actualizar" />
            </div>
        </div>
        @Html.HiddenFor(m => m.PeopleId)
    }
</div>
