@model ACStalkMarket.ViewModels.WeekValuesFormViewModel
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Model.WeekValues.Id != 0)
    {
        <h2>@Model.Title <button class="btn btn-link js-finish-week" week-id="@Model.Week.Id">Terminar Semana</button></h2>
    }
    else
    {
        <h2>@Model.Title</h2>
    }
}

<h3>Resumen de la semana</h3>

@using (Html.BeginForm("Save", "Weeks"))
{
    @Html.EditorFor(Model => Model.Week, new { weekPatterns = Model.WeekPatterns });
    <h3>Detalle de los valores semanales</h3>
    @Html.EditorFor(Model => Model.WeekValues);

    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </div>

    @Html.AntiForgeryToken()
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

